<div class="profile"><img [src]=" '/assets/profile.png'" alt="default user">
    <h3>User Info:</h3>

    <ng-container *ngIf="(currentUser$ | async) as currentUser">
        <ng-container *ngIf="!(isInEditMode$ | async)">
            <div class="flex">
                <p>Username: </p>
                <p>{{currentUser.username}}</p>
            </div>
            <div class="flex">
                <p>Email: </p>
                <p>{{currentUser.email}}</p>
            </div>
            
            <button (click)="enterEditMode(currentUser)" class="edit-button">Edit</button>
        </ng-container>

        <ng-container *ngIf="isInEditMode$ | async">
            <form #editProfileForm="ngForm" (ngSubmit)="updateProfile()">
                <div class="flex">
                    <p>Username: </p>
                    <input type="text" name="username" ngModel required minlength="5" id="username" value="{{currentUser$.username}}">
                </div>
                <div class="flex">
                    <p>Email: </p>
                    <input #email="ngModel" [class.input-error]="email.touched && email.invalid" type="email" name="email" id="email" ngModel required emailValidator value="john.doe@gmail.com">
                </div>
                <div class="flex">
                    <p>Profile picture: </p>
                    <input type="file" accept="image/png" id="profile-picture" (change)="handleProfilePictureChange($event)">
                </div>
                <button type="button" (click)="exitEditMode()"  class="red-button">Cancel</button>
                <button   [disabled]="editProfileForm.invalid" class="green-button">Save</button>
            </form>
        </ng-container>

        <ng-container *ngIf="isShowMovies">
            <h4>My Movies:</h4>
    
            <div *ngIf="userMovies.length == 0">
                <p class="emptyarray"><strong> You don't have any movies </strong></p>
            </div>
    
            <div [@.disabled]="isDisabled">
                <div class="pb-5" [@itemAnimation]="userMovies.length">
                    <div *ngFor="let movie of userMovies">
                        <div class="container mt-2">
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column"> <span class="articles">Movie:</span> <span
                                        class="number1">{{movie.title}}</span> </div>
                                <div class="d-flex flex-column mt-1"> <button class="btn btn-sm btn-outline-primary"
                                        [routerLink]="['/movies', movie._id]">Details</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isLikedShow">
            <h4>Liked Movies:</h4>
            <div [@.disabled]="isDisabled">
                <div class="pb-5" [@itemAnimation]="userMovies.length">
                    <div *ngFor="let movie of likedMovies">
                        <div class="container mt-2">
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                <div class="d-flex flex-column"> <span class="articles">Movie:</span> <span
                                        class="number1">{{movie.title}}</span> </div>
                                <div class="d-flex flex-column mt-1"> <button class="btn btn-sm btn-outline-primary"
                                        [routerLink]="['/movies', movie._id]">Details</button> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>