/* @import url('https://use.fontawesome.com/releases/v6.0.0/css/all.css'); */
.templatemo-detail{
    background-color: #EBF5FE;
    /* width: 80%; */
    text-align: center;
    margin: auto;
}
.content{
    border-radius: 50px;
}

.about-detail{
    padding: 20px 40px;
}

h1{
    color: #104C88;
    font-weight: bold;
}

.justify{
    padding-top: 20px;
    height: auto;
}

.subtitle{
    color: #104C88;
}

.right{
    font-style: italic;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button{
    margin: 0 5px;
}

.buttons {
    display: flex;
    flex-direction: column;
    /* display: -webkit-inline-box; */
}

.btnlike {
    padding-right: 12px;
}

.icons {
    color: #0A335B ;
}

.hint {
    margin: auto;
    color: #4E749B;
}
.containter{
    display: flex;
    flex-direction: column;
}
.btnlike{
    margin-bottom: 10px;
}

.comment{
    border-top: 1px dotted darkslategray;
}
