.mainbox {
    margin: auto;
    height: 550px;
    width: 550px;
    position: relative;
  }
  img{
    width: 500px;
    margin-top: 60px;
  }
  p{
    text-align: center;
  }
    .err {
      color: #14775e;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
  .far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #14775e;
  }
  
 
  a {
    text-decoration: none;
    color: #14775e;
  }
  
  a:hover {
    text-decoration: underline;
  }
  