.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ebf5fe;
    padding-top: 20px;
    border-radius: 35px 150px;
    padding-bottom: 20px;
    width: 700px;
    border-radius: 20px;
  }
  
  .addnew{
    margin-top: 60px;
    
  }
  
  h2{
    padding-bottom: 35px;
    color:  rgb(47, 102, 99); 
  }
  
  mat-form-field{
    width: 60%;
    align-items: center;
    
  }

input{
  padding: 5px;

}
  
.btn{
    width: 150px;
    border: none;
    border-radius: 5px;
  }


  .error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}