<div class="welcome">
    <app-welcome></app-welcome>
</div>
<div class="container">


<div class="card-container" *ngIf="movieMostLiked">
    <h3 class="title">Most Liked Movie:</h3>
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number subtle"><i class="fas fa-trophy fa-lg winner"></i></span>
            <h2 class="card-title">{{movieMostLiked.title}}</h2>
            <div class="iconsgrid">
                <p class="card-description subtle"><i class="far fa-user icons"></i> Author:
                    {{movieMostLiked.userId.username}}</p>
                <p class="card-description subtle"><i class="fa fa-thumbs-up icons"></i> Likes:
                    {{movieMostLiked.likes.length}}</p>
                    <img src="{{movieMostLiked.poster}}" alt="" class="card-media" />
            </div>
            <button class="btn" [routerLink]="['/movies', movieMostLiked._id]">Details</button>
        </div>
    </div>
</div>



<div class="card-container" *ngIf="movieMostCommented">
    <h3 class="title">Most Commented Movie:</h3>
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number subtle"><i class="fas fa-trophy fa-lg winner"></i></span>
            <h2 class="card-title">{{movieMostCommented.title}}</h2>
            <div class="iconsgrid">
                <p class="card-description subtle"><i class="far fa-user icons"></i> Author:
                    {{movieMostCommented.userId.username}}</p>
                <p class="card-description subtle"><i class="far fa-comment icons"></i> Comments:
                    {{movieMostCommented.comments.length}}</p>
                    <img src="{{movieMostCommented.poster}}" alt="" class="card-media" />
            </div>
            <button class="btn" [routerLink]="['/movies', movieMostCommented._id]">Details</button>
        </div>
       
    </div>
</div>
</div>
