
<div class="card-group">
    <div>
    <img class="img" src="{{movie.poster}}" alt="">
</div>
<div class="detail">
    <a class="portfolio-item">
            <h3>{{movie.title}}</h3>
            <p> Director: {{movie.director}}</p>
            <p> Author: {{movie.userId.username}}</p>
            <p class="strong"><strong><i class="bi bi-hand-thumbs-up"></i>Likes: </strong> {{movie.likes.length}}</p>
            <p class="strong"><strong><i class="bi bi-chat-square-text"></i> Comments: </strong> {{movie.comments.length}}</p>
            <button class="btn" [routerLink]="['/movies', movie._id]">Details</button>
        </a>
        </div>
    
</div>