.card-group{
    border: 5px solid cadetblue;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    display: flex;
    flex-direction: row;
}
.img{
    width: 300px;
    height: 300px;
    margin-right: 30px;
}

h3 {
    /* padding: 0; */
    margin-top: 10px;
    margin-bottom: 15px;
    color: #104C88;
}

p {
    margin-bottom: 0.5rem;
    color: #104C88;
}

strong {
    color: #FF8E00;
}



.btn{
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}
.strong{
    text-decoration: none;
}
.icons {
    color:  #104C88;
}